URxvt*scrollBar:         false
URxvt*scrollBar_right:   false

URxvt*transparent:       false

URxvt.font: xft:Source Code Pro for Powerline:pixelsize=11
URxvt.letterSpace: 0

*antialias:  true
*autohint:   true

